#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --bg-dark: rgb(44, 44, 48);
  --bg-light: rgb(88, 87, 91);
  --bg-BACK: rgb(36, 36, 36);
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-circle {
  background: radial-gradient(circle at center, var(--bg-light), var(--bg-dark), black);
  width: 80vmin;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--bg-dark);
}

.press-play {
  --r: 3vmin;
  width: calc(var(--r)*2);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid darkolivegreen;
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(90, 100, 84, 0.749);
  cursor: pointer;
}

.card {
  padding: 2em;
}