#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --bg-dark: rgb(44, 44, 48);
  --bg-light: rgb(88, 87, 91);
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center {
  background-color: var(--bg-light);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.background-circle {
  background: radial-gradient(circle at center, var(--bg-light), var(--bg-dark), black);
  width: 80vmin;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--bg-dark);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}