.Segment {
    /*background-color: aquamarine;*/
    color: rgb(219, 62, 149);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    --blink-1: url("./assets/Blinking_Head/Blinking_Head-1.png");
    --blink-2: url("./assets/Blinking_Head/Blinking_Head-2.png");
    --blink-3: url("./assets/Blinking_Head/Blinking_Head-3.png");
}

#head {
    z-index: 2;
    animation: blink 1s infinite;
}

#body {
    background-image: url("./assets/Worm_Body.png");
    background-size: 30px;
}

@keyframes blink {

    0% {
        background-image: var(--blink-1);
    }

    20% {
        background-image: var(--blink-2);
    }

    40% {
        background-image: var(--blink-3);
    }

    60% {
        background-image: var(--blink-2);
    }

    80% {
        background-image: var(--blink-1);
    }

    100% {
        background-image: var(--blink-1);
    }
}