.Segment {
    color: rgb(219, 62, 149);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    --blink-1: url("./assets/Blinking_Head/Blinking_Head-1.png");
    --blink-2: url("./assets/Blinking_Head/Blinking_Head-2.png");
    --blink-3: url("./assets/Blinking_Head/Blinking_Head-3.png");
    --blink-4: url("./assets/Blinking_Head/Blinking_Head-4.png");
    --blink-5: url("./assets/Blinking_Head/Blinking_Head-5.png");
    --blink-6: url("./assets/Blinking_Head/Blinking_Head-6.png");
    --blink-7: url("./assets/Blinking_Head/Blinking_Head-7.png");
    --blink-8: url("./assets/Blinking_Head/Blinking_Head-8.png");
}

#head {
    z-index: 2;
    animation: blink 2s infinite;
}

#body {
    background-image: url("./assets/Worm_Body.png");
    background-size: 30px;
}

@keyframes blink {

    0% {
        background-image: var(--blink-1);
    }

    25% {
        background-image: var(--blink-2);
    }

    28% {
        background-image: var(--blink-3);
    }

    32% {
        background-image: var(--blink-4);
    }

    35% {
        background-image: var(--blink-5);
    }

    38% {
        background-image: var(--blink-6);
    }

    42% {
        background-image: var(--blink-7);
    }

    45% {
        background-image: var(--blink-8);
    }

    50% {
        background-image: var(--blink-7);
    }

    52% {
        background-image: var(--blink-6);
    }

    54% {
        background-image: var(--blink-5);
    }

    58% {
        background-image: var(--blink-4);
    }

    62% {
        background-image: var(--blink-3);
    }

    65% {
        background-image: var(--blink-2);
    }

    100% {
        background-image: var(--blink-1);
    }
}